body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background-image: linear-gradient(
        rgba(255, 248, 240, 0.85),
        rgba(255, 230, 230, 0.85)
    ), url("/uploads/bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    background: #d8a47f;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
}

.container {
    width: 90%;
    margin: auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    background: #ff8fab;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e76f91;
}

.cart {
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

input, select {
    padding: 6px;
    margin: 5px 0;
    width: 100%;
}

@media(max-width: 1000px){
    .products { grid-template-columns: repeat(2, 1fr); }
}

@media(max-width: 600px){
    .products { grid-template-columns: 1fr; }
}
.hero {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.img-btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.img-btn img {
    width: 18px;
    height: 18px;
}